body {background-image: url(./img/fondomiro.jpg); }
header{ 
    display: grid;
    grid-template-columns: 65% 10% 15%;
    grid-template-rows: 10vh 10vh;
    width: 100%;
    height: 20%; 
    background-color: black;
}
#Texto1{
    grid-row: 1;
    grid-column-start: 1;
    font-family:monospace,'Courier New', Courier;
    font-size:5vh;
    text-align:left;
    margin-top: 0.3em;
    margin-left: 3em;
    color:burlywood;
    }
#p_texto1 { 
    grid-row: 2;
    font-style: oblique;
    padding: 0.1em;
    margin-left: 5em;
}

.foto{  grid-column: 2;
        grid-row: 1 /span 2;
        border-radius:20px;
        width:20vh;
        
        border-style: groove;
        border-color: black;    
}
.t2 { 
    grid-column: 3;
    grid-row: 1;
    text-align: center;
    font-size: 3vh;
    color:burlywood;
    margin-top: 1em;}
.t3 { 
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    font-size: 3vh;
    color:burlywood;}
section{width: 65vw;  
        text-align: center;
        color:white;
        font-size: 150%;
        background-color: black;}
/*nota1*/    
.notrec {
    display: grid;
    width: 65vw;    
    grid-template-columns: 10vw 55vw;
    grid-template-rows:auto;
    column-gap: 0;
    text-align: center;
    
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.nr1 {  
    grid-column: 1;
    background-color: black;
    
}
.nr2 {  
    grid-column: 2;
    background-color: antiquewhite;
    border-color: darkgoldenrod;
    padding-left: 25px;
    padding-right: 25px;
}
.imgnot1 {width: 500px;}
/*nota2*/   
.not {
    display: grid;
    width: 65vw;    
    grid-template-columns: 10vw 55vw;
    grid-template-rows:auto;
    column-gap: 0;
    text-align: center;
    
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.nt1 {  
    grid-column: 1;
    background-color: black;
    
}
.nt2 {  
    grid-column: 2;
    background-color: antiquewhite;
    border-color: darkgoldenrod;
    padding-left: 25px;
    padding-right: 25px;
}
.imgnot2 {
    width: 200px;
    float: left;}

.video {display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;}

.vid   {width: 200px;
        grid-column: 1;}
.vid1 {width: 200px;
        grid-column: 2;}
/*nota3*/   
.agenda {
    display: grid;
    width: 65vw;    
    grid-template-columns: 10vw 55vw;
    grid-template-rows:auto;
    column-gap: 0;
    text-align: center;
    
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
.ag1 {  
    grid-column: 1;
    background-color: black;
    
}
.ag2 {  
    grid-column: 2;
    background-color: antiquewhite;
    border-color: darkgoldenrod;
    padding-left: 25px;
    padding-right: 25px;
}
.imgnot3 {
    width: 200px;
    float: left;
    clear: left;}
.h {text-align: left;
    margin-left: 220px;}

footer {
    width: 100%;
    height: 20%; 
    background-color: black;
    color: white;
    text-align: center;
    font-size: 150%;
    margin:10px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
    